.section-specialty {
    height: 270px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;

    .specialty-header {
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: left;
        align-items: center;
        .popular {
            font-size: 21px;
            font-weight: 600;
            padding-left: 30px;
        }
        .more-button {
            font-weight: 600;
            position: absolute;
            right: 0;
            margin-right: 30px;
            padding: 4px 4px;
            outline: none;
            border: 1px solid black;
            background-color: transparent;
            border-radius: 10px;
            background-color: #45c3d2;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .specialty-body {
        // margin: 0 30px;
        .img-custom {
            border-radius: 10px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 30px !important;
            height: 180px;
            border: 1px solid grey;
            &:hover {
                border: 1px solid yellow;
            }
        }
        .slide1 {
            width: 100%;
            border-radius: inherit;
        }
        .slide-title {
            padding-left: 10px;
            padding-bottom: 5px;
            width: 100%;
            padding-top: 5px;
        }
    }
}
.slick-list {
    background: #fff;
}

.slick-slide {
    // padding-left: 0px;
    padding-right: 50px;
}
.slick-prev {
    height: 45px !important;
    width: 40px !important;
    margin-top: 10px;
    z-index: 10;
    margin-left: 30px !important;
    background: #45c3d2 !important;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
.slick-next {
    height: 45px !important;
    width: 40px !important;
    margin-top: 10px;
    z-index: 10;
    margin-right: 30px !important;
    background: #45c3d2 !important;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
